
= simple_form_for @individual do |f|
  .modal-body
    .form-horizontal
      = f.error_notification
      = f.input :name, placeholder: 'Enter name'
      = f.input :avatar, placeholder: 'Upload Photo'
      = f.fields_for :user_attributes, @individual.user||User.new do |v|
        = v.input :email, placeholder: 'Email'
        = v.input :password, placeholder: 'Password'
        = v.input :password_confirmation, placeholder: 'Confirm Password'
        = v.hidden_field :meta_type, default: "Individual"

  .modal-footer
    .centerize= f.button :submit, placeholder: 'Enter name', class: "btn btn-primary"

