!!!
%html
  %head
    %title ANGELPITCH
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
    = favicon_link_tag 'favicon.ico'
  %body
    %p.notice= notice
    %p.alert= alert

    #wrapper.bodybasic1
      / Navigation
      %nav.navbar.navbar-default.navbar-fixed-top{:role => "navigation"}
        / Brand and toggle get grouped for better mobile display
        .navbar-header
          %a.navbar-toggle{"data-target" => ".navbar-ex1-collapse", "data-toggle" => "collapse", :type => "button"}
            %span.sr-only Toggle navigation
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          -# %a.navbar-brand Angelpitch
          .row
            = image_tag("logo.png", width: "50", style: "float:left;margin-left:15px;padding-top:15px;padding-bottom:15px;padding-left:15px;")
            %h1.navbar-brand ANGELPITCH
        %ul.nav.navbar-right.top-nav
          - if user_signed_in?
            %li.dropdown
              %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#",style: "padding-top:25px!important;padding-bottom:25px!important;"}
                %i.fa.fa-user
                  = @person.name
                %b.caret
              %ul.dropdown-menu
                %li
                  = link_to destroy_user_session_path, :method => :delete do
                    %i.fa.fa-fw.fa-power-off
                    Log Out
          - else
            %li
              = link_to new_user_session_path do
                %i.fa.fa-sign-in{style: "padding-top:25px!important;padding-right:25px!important;padding-bottom:25px!important;"}
                  Sign In

      / Sidebar
    = yield
